@model TeduShop.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
<div class="k2t-body">
    <div class="k2t-content no-sidebar">
        <div class="k2t-main page" role="main">
            <article id="post-159" class="post-159 page type-page status-publish hentry">
                <div class="page-entry">
                    <div class="wpb_revslider_element wpb_content_element">
                        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
                        <link href="http://fonts.googleapis.com/css?family=PT+Serif:400,600,700" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
                        <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:-50px;margin-bottom:0px;">

                            <!-- START REVOLUTION SLIDER 5.0.1 fullwidth mode -->
                            <div id="rev_slider_3_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.1">
                                <ul>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-9" data-transition="fade,fadefromtop,parallaxtoleft,parallaxvertical" data-slotamount="7,7,7,7,7" data-randomtransition="on" data-easein="default,default,default,default,default" data-easeout="default,default,default,default,default" data-masterspeed="300,300,300,300,300" data-thumb="" data-rotate="0,0,0,0,0" data-saveperformance="off" data-title="Slide" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="Assets/client/img/uploads/revslider/dummy.png" style='background-color:#bdb099' alt="" data-lazyload="Assets/client/img/uploads/revslider/dummy.png" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption white   tp-resizeme rs-parallaxlevel-1" id="slide-9-layer-1" data-x="center" data-hoffset="-180" data-y="center" data-voffset="-165" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:-50px;opacity:0;s:300;e:Linear.easeNone;" data-transform_out="auto:auto;s:300;" data-start="0" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 201px; line-height: px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;padding:0 0 0 0;border-color:rgba(0, 0, 0, 1.00);border-radius:0 0 0 0;">
                                            Ride
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-0" id="slide-9-layer-2" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-responsive_offset="on" style="z-index: 6; line-height: 22px;padding:0 0 0 0;border-radius:0 0 0 0;">
                                            <img src="~/Assets/client/img/uploads/revslider/dummy.png" alt="" width="970" height="563" data-ww="auto" data-hh="auto" data-lazyload="Assets/client/img/uploads/revslider/home-slider/slide1.png" data-no-retina>
                                        </div>

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption white   tp-resizeme rs-parallaxlevel-2" id="slide-9-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="23" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:bottom;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 200px; line-height: px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;padding:0 0 0 0;border-color:rgba(0, 0, 0, 1.00);border-radius:0 0 0 0;">
                                            <div class="rs-looped rs-pulse" data-easing="Power3.easeInOut" data-speed="2" data-zoomstart="1" data-zoomend="1">a   Bike </div>
                                        </div>
                                    </li>
                                    <!-- SLIDE  -->
                                    <li data-index="rs-10" data-transition="slidehorizontal,fade,slotfade-vertical,parallaxhorizontal" data-slotamount="7" data-randomtransition="on" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="Assets/client/img/uploads/revslider/home-slider/slide2-320x200.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="~/Assets/client/img/uploads/revslider/dummy.png" alt="" data-lazyload="Assets/client/img/uploads/revslider/home-slider/slide2.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption subline   tp-resizeme rs-parallaxlevel-0" id="slide-10-layer-1" data-x="center" data-hoffset="0" data-y="center" data-voffset="-40" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="y:top;s:300;e:Linear.easeNone;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 24px; line-height: 40px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:'PT Serif';border-color:rgba(255, 255, 255, 1.00);">
                                            Wonderful day in the city
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption white-2   tp-resizeme rs-parallaxlevel-0" id="slide-10-layer-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="40" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="y:bottom;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="1000" data-splitin="words" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.1" style="z-index: 6; min-width: auto; min-height: auto; white-space: nowrap; max-width: auto; max-height: auto; font-size: 72px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;border-color:rgba(0, 0, 0, 1.00);">
                                            ENJOY THE RIDE
                                        </div>
                                    </li>
                                </ul>
                                <div class="k2t-scrolldown bounce"><i class="fa fa-long-arrow-down"></i></div>
                            </div>
                        </div><!-- END REVOLUTION SLIDER -->
                    </div>
                    <div class="k2t-row vc_row wpb_row vc_custom_1436332548469" style="position: relative; margin-top: 70px; margin-bottom: 50px;">
                        <div class="container">
                            <div class="vc_col-sm-4 wpb_column" style="position: relative; margin-bottom: 20px;">
                                <div class="wpb_wrapper">
                                    <div class="k2t-iconbox layout-4 dashed" style="">
                                        <div class="iconbox-text no_icon">
                                            <div class="title">
                                                <h3 style="text-transform: inherit;" class="h">Totally Free</h3>
                                            </div>
                                            <div class="desc">Test Drive</div>
                                            <div class="learnmore"><a href="#">More info here &gt;</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="vc_col-sm-4 wpb_column" style="position: relative; margin-bottom: 20px;">
                                <div class="wpb_wrapper">
                                    <div class="k2t-iconbox layout-4 dashed" style="">
                                        <div class="iconbox-text no_icon">
                                            <div class="title">
                                                <h3 style="text-transform: inherit;" class="h">For all standard offer</h3>
                                            </div>
                                            <div class="desc">Free Shipping</div>
                                            <div class="learnmore"><a href="#">More info here &gt;</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="vc_col-sm-4 wpb_column" style="position: relative; margin-bottom: 20px;">
                                <div class="wpb_wrapper">
                                    <div class="k2t-iconbox layout-4 dashed" style="">
                                        <div class="iconbox-text no_icon">
                                            <div class="title">
                                                <h3 style="text-transform: inherit;" class="h">Only in 30 days</h3>
                                            </div>
                                            <div class="desc">Free Returns</div>
                                            <div class="learnmore"><a href="#">More info here &gt;</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" k2t-row vc_row wpb_row" style="position: relative; margin-top: 70px; margin-bottom: 100px;">
                        <div class="container">
                            <div class="vc_col-sm-12 wpb_column" style="position: relative;">
                                <div class="wpb_wrapper">
                                    <div class="k2t-heading align-center no-border no-subtitle underline h2 three_dotted">
                                        <div class="k2t-heading-inner">
                                            <div class="text">
                                                <h2 class="h"><span>FEATURED PRODUCTS</span></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element blogspot-heading" style="margin-bottom: 50px">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: center;">Customers' favorite products this week. What's so special? Check it out!</p>
                                        </div>
                                    </div>
                                    <div class="woocommerce columns-2">
                                        <div class="k2t-product-page">
                                            <div class="product-gallery product-velo isotope-fullwidth isotope-3 pf-3col">
                                                <div class="k2t-isotope-wrapper isotope-3-columns isotope-gallery isotope-velo">
                                                    <div class="article-loop k2t-isotope-container loaded" style="position: relative; height: 600px;">
                                                        <div class="gutter-sizer"></div>
                                                        <div class="products">
                                                            @foreach (var product in Model.TopSaleProducts)
                                                            {
                                                                var url = "/" + product.Alias + ".p-" + product.ID + ".html";
                                                                <div class="isotope-selector first post-1860 product type-product status-publish has-post-thumbnail product_brand-bmx-bikes product_cat-dare-balance product_tag-dare-balance product_tag-purple sale featured shipping-taxable purchasable product-type-variable product-cat-dare-balance product-tag-dare-balance product-tag-purple instock">

                                                                    <article class="product-item">
                                                                        <div class="product-thumb">

                                                                            <a href="@url" rel="nofollow"  class="button add_to_cart_button product_type_variable">Add To Cart</a>
                                                                            <div>
                                                                                <span class="onsale">Sale!</span>
                                                                                <img width="570" height="444" src="@product.Image" class="attachment-shop_catalog wp-post-image" alt="p8">
                                                                                <div class="product-name">
                                                                                    <div class="p-top">
                                                                                        <div class="star-rating" title="Rated 4.00 out of 5">
                                                                                            <p class="stars">
                                                                                                <a class="star-5" href="#" style="margin: -20px 0px 0px 15px;"></a>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <h3 style="font-size: 30px;">@product.Name</h3>
                                                                                    <span class="price">
                                                                                        @if (product.PromotionPrice.HasValue)
                                                                                        {
                                                                                          <ins style="font-size: 25px;"><span class="amount">$ @product.PromotionPrice.Value.ToString("N0")</span></ins>
                                                                                        <del style="font-size: 25px;"><span class="amount">$ @product.Price.ToString("N0")</span></del>}
                                                                                    else
                                                                                    { <ins style="font-size: 25px;"><span class="amount">$ @product.Price.ToString("N0")</span></ins>}
                                                                                        
                                                                                    </span>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            </article>
                                                                        </div>
                                                                    }
                                                                    </div>
                                                            </div><!-- .article-loop -->
                                                        </div><!-- .k2t-isotope-wrapper -->
                                                    </div><!-- .product-velo -->
                                                </div><!-- .k2t-product-shortcode -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="k2t-row vc_row wpb_row image-banner" style="position: relative;background-color:#ffffff; margin-top: 100px; margin-bottom: 100px;">
                                <div class="vc_col-sm-6 middle-banner wpb_column" style="position: relative; background-color: #9cbebf; background-image: url(Assets/client/img/uploads/2015/04/banner-1.png); background-repeat: no-repeat; background-position:center center; padding-top: 300px; padding-bottom: 310px; background-size: 100%;">
                                    <div class="wpb_wrapper"></div>
                                </div>
                                <div class="vc_col-sm-6 countdown-row wpb_column vc_column_container vc_custom_1441781277015" style="position: relative; background-color: #ffffff; padding-top: 100px; padding-right: 100px; padding-bottom: 100px; padding-left: 100px;">
                                    <div class="wpb_wrapper">
                                        <div class="k2t-heading align-left no-border no-subtitle underline h2 three_dotted">
                                            <div class="k2t-heading-inner">
                                                <div class="text">
                                                    <h2 class="h"><span>DEAL OF THE WEEK</span></h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>Sale&nbsp;up to 30% only in a week</p>
                                            </div>
                                        </div>

                                        <div class="k2t-countdown countdown-align-left" data-time="2015-12-15-24-00-00" style="opacity: 1;">
                                            <div class="inner">
                                                <div class="ele day">
                                                    <span class="countdown-content">
                                                        <span class="num">16</span>
                                                        <span class="unit">Days</span>
                                                    </span>
                                                    <span class="bulkhead">:</span>
                                                </div>
                                                <div class="ele hour">
                                                    <span class="countdown-content">
                                                        <span class="num">66</span>
                                                        <span class="unit">Hours</span>
                                                    </span>
                                                    <span class="bulkhead">:</span>
                                                </div>
                                                <div class="ele minute">
                                                    <span class="countdown-content">
                                                        <span class="num">54</span>
                                                        <span class="unit">Minutes</span>
                                                    </span>
                                                    <span class="bulkhead">:</span>
                                                </div>
                                                <div class="ele second">
                                                    <span class="countdown-content">
                                                        <span class="num">55</span>
                                                        <span class="unit">Seconds</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="k2t-button align-left">
                                            <a id="tpCrZeNFOo" style="" class="k2t-btn btn-no-content btn-medium button-icon-left" href="">
                                                <span class="button-text" style="">
                                                    <span class="text">Shop now</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="k2t-row vc_row wpb_row" style="position: relative; margin-top: 50px; margin-bottom: 50px;">
                                <div class="container">
                                    <div class="vc_col-sm-12 wpb_column vc_column_container" style="position: relative;">
                                        <div class="wpb_wrapper">
                                            <div class="k2t-heading align-center no-border no-subtitle underline h2 three_dotted">
                                                <div class="k2t-heading-inner">
                                                    <div class="text">
                                                        <h2 class="h"><span>New Products</span></h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p style="text-align: center;">Check out what's going on in the store. Hurry up! Bestsellers often sold out in couples of weeks.</p>
                                                </div>
                                            </div>
                                            <div class="woocommerce columns-4">
                                                <div class="k2t-product-page">
                                                    <div class="product-gallery product-velo isotope-fullwidth isotope-3 pf-3col">
                                                        <div class="k2t-isotope-wrapper isotope-3-columns isotope-gallery isotope-velo">
                                                            <div class="article-loop k2t-isotope-container loaded" style="position: relative; height: 1041px;">
                                                                <div class="gutter-sizer"></div>
                                                                <div class="products">
                                                                    @foreach (var product in Model.LastestProducts)
                                                                    {
                                                                        var url = "/" + product.Alias + ".p-" + product.ID + ".html";
                                                                        <div class="isotope-selector last post-384 product type-product status-publish has-post-thumbnail product_brand-sunrise-bikes product_cat-dare-balance product_tag-dare-balance product_tag-silver sale featured shipping-taxable purchasable product-type-simple product-cat-dare-balance product-tag-dare-balance product-tag-silver instock" style="position: absolute; left: 877px; top: 694px;">

                                                                            <article class="product-item">
                                                                                <div class="product-thumb">
                                                                                    <a href="@url" rel="nofollow" class="button add_to_cart_button product_type_simple">Add to cart</a>
                                                                                    <div>
                                                                                        @if (product.PromotionPrice.HasValue && product.Quantity != 0)
                                                                                        {
                                                                                            <span class="onsale">Sale!</span>
                                                                                        }
                                                                                        <img width="570" height="444" src="@product.Image" class="attachment-shop_catalog wp-post-image" alt="@product.Name">
                                                                                        <div class="product-name">
                                                                                            @if (product.Quantity == 0)
                                                                                            {<span class="onsale soldout">Sold</span>}

                                                                                            <h3>@product.Name</h3>

                                                                                            <span class="price">
                                                                                                @if (product.PromotionPrice.HasValue)
                                                                                                {
                                                                                                    <ins><span class="amount">$ @product.PromotionPrice.Value.ToString("N0")</span></ins>
                                                                                                    <del><span class="amount">$ @product.Price.ToString("N0")</span></del>}
                                                                                                else
                                                                                                {<ins><span class="amount">$ @product.Price.ToString("N0")</span></ins>}

                                                                                            </span>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </article>
                                                                        </div>
                                                                    }
                                                                 </div>
                                                            </div><!-- .article-loop -->
                                                        </div><!-- .k2t-isotope-wrapper -->
                                                    </div><!-- .product-velo -->
                                                </div><!-- .k2t-product-shortcode -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="k2t-row vc_row wpb_row count" style="position: relative; margin-top: 80px; margin-bottom: 50px; padding-top: 30px; padding-bottom: 20px;">
                                <div class="container">
                                    <div style="z-index: 10; position: relative;">
                                        <div id="COBnv3PUXg" class="vc_col-sm-12 wpb_column vc_column_container" style="position: relative;">
                                            <div class="wpb_wrapper">
                                                <div class="vc_row wpb_row vc_inner vc_row-fluid border" style="padding-top: 100px; padding-bottom: 80px;">
                                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                                        <div class="wpb_wrapper">
                                                            <div class="k2t-counter icon-top" data-delay="0">
                                                                <div class="counter-inner">
                                                                    <div style="font-size: 32px;color: #ffbe2a;height: auto;line-height: inherit;" class="counter-icon"></div>
                                                                    <div class="counter-number">
                                                                        <div class="counter-text">
                                                                            <span style="" class="title">TEST RIDES</span>
                                                                            <div class="desc"></div>
                                                                        </div>
                                                                        <h2 style="" class="number" data-from="0" data-to="24622" data-speed="1000" data-delayrefresh-interval="10">
                                                                            <span class="counter">24622</span>
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                                        <div class="wpb_wrapper">
                                                            <div class="k2t-counter icon-top" data-delay="0">
                                                                <div class="counter-inner">
                                                                    <div style="font-size: 32px;color: #ffbe2a;height: auto;line-height: inherit;" class="counter-icon"></div>
                                                                    <div class="counter-number">
                                                                        <div class="counter-text">
                                                                            <span style="" class="title">BIKES SOLD</span>
                                                                            <div class="desc"></div>
                                                                        </div>
                                                                        <h2 style="" class="number" data-from="0" data-to="6134" data-speed="1000" data-delayrefresh-interval="10">
                                                                            <span class="counter">6134</span>
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                                        <div class="wpb_wrapper">
                                                            <div class="k2t-counter icon-top" data-delay="0">
                                                                <div class="counter-inner">
                                                                    <div style="font-size: 32px;color: #ffbe2a;height: auto;line-height: inherit;" class="counter-icon"></div>
                                                                    <div class="counter-number">
                                                                        <div class="counter-text">
                                                                            <span style="" class="title">BIKES HIRED</span>
                                                                            <div class="desc"></div>
                                                                        </div>
                                                                        <h2 style="" class="number" data-from="0" data-to="7516" data-speed="1000" data-delayrefresh-interval="10">
                                                                            <span class="counter">7516</span>
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                                        <div class="wpb_wrapper">
                                                            <div class="k2t-counter icon-top" data-delay="0">
                                                                <div class="counter-inner">
                                                                    <div style="font-size: 32px;color: #ffbe2a;height: auto;line-height: inherit;" class="counter-icon"></div>
                                                                    <div class="counter-number">
                                                                        <div class="counter-text">
                                                                            <span style="" class="title">HAPPY COSTUMERS</span>
                                                                            <div class="desc"></div>
                                                                        </div>
                                                                        <h2 style="" class="number" data-from="0" data-to="12023" data-speed="1000" data-delayrefresh-interval="10">
                                                                            <span class="counter">12023</span>
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="k2t-row vc_row wpb_row image-banner" style="position: relative;background-color:#ffffff; margin-top: 50px; margin-bottom: 50px;">
                                <div style="z-index: 10; position: relative;">
                                    <div class="vc_col-sm-6 wpb_column vc_column_container" style="position: relative; padding-top: 100px; padding-right: 100px; padding-bottom: 20px; padding-left: 100px;">
                                        <div class="wpb_wrapper">
                                            <div class="k2t-heading align-left no-border no-subtitle underline h2 three_dotted">
                                                <div class="k2t-heading-inner">
                                                    <div class="text"><h2 class="h"><span>NEWSLETTER</span></h2></div>
                                                </div>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>Sign up to receive the coupon 15% off for your first purchase via email and get informations about bicycle, accessories, tips,... and many exclusive offers.</p>
                                                </div>
                                            </div>
                                            <div class="clear clearFix"></div>
                                            <div class="widgetGuts shortcode">
                                                <h3>Subscribe</h3>
                                                <form method="post" class="frm-subscriptionFront" novalidate="">
                                                    <table>
                                                        <tbody>
                                                            <tr class="required">
                                                                <th><label for="frm-email" class="required">Your e-mail address</label></th>
                                                                <td><input type="text" name="email" required="" value="" class="text" placeholder="Your Email"></td>
                                                            </tr>
                                                            <tr>
                                                                <th></th>
                                                                <td>
                                                                    <input type="submit" name="_submit" class="subscribeButton button" value="Subscribe">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div>
                                                        <input type="hidden" name="_form_" value="subscriptionFront"><!--[if IE]><input type=IEbug disabled style="display:none"><![endif]-->
                                                    </div>
                                                </form>
                                                <div class="clear clearFix"></div>
                                            </div>
                                            <div class="clear clearFix"></div>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper"></div>
                                            </div>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p class="p1" style="font-size: 14px;"><em>*Discount applies only to orders over $100</em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="AbJfDVoru2" class="vc_col-sm-6 middle-banner wpb_column vc_column_container" style="position: relative; background-color: #b9bf9b; background-image: url(Assets/client/img/uploads/2015/04/banner-2.png); background-repeat: no-repeat; background-position:left bottom; padding-top: 300px; padding-bottom: 300px;">
                                        <div class="wpb_wrapper"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="k2t-row vc_row wpb_row" style="position: relative; margin-top: 100px; margin-bottom: 50px; background-size: 100%;">
                                <div class="container">
                                    <div class="vc_col-sm-12 wpb_column vc_column_container" style="position: relative;">
                                        <div class="wpb_wrapper">
                                            <div class="k2t-heading align-center no-border no-subtitle underline h2 three_dotted blogspot-heading">
                                                <div class="k2t-heading-inner">
                                                    <div class="text"><h2 class="h"><span>Latest blog</span></h2></div>
                                                </div>
                                            </div>
                                            <div class="owl-carousel owl-theme post-slider pagi-bottm" style="overflow: hidden;">
                                                <div class="carousel-item">
                                                    <article class="article isotope-selector entry-item k2t-blog-post k2t-blog-post-2 post-2021 post type-post status-publish format-standard has-post-thumbnail hentry category-post-grid tag-templates tag-themeforest tag-wordpress">
                                                        <div class="entry-box">
                                                            <div class="entry-thumb">
                                                                <div class="mask">
                                                                    <a href="#" title="Basic riding techniques"></a>
                                                                </div>
                                                                <p>
                                                                    <img width="500" height="333" src="~/Assets/client/img/uploads/2015/03/post-141-500x333.jpg" alt="Basic riding techniques">
                                                                </p>
                                                            </div>
                                                            <div class="entry-content">
                                                                <header>
                                                                    <h5 class="entry-title">
                                                                        <a title="Basic riding techniques" href="#">Basic riding techniques</a>
                                                                    </h5>
                                                                    <div class="post-meta">
                                                                        <div class="post-meta-left">
                                                                            <span data-time="2015-02-09T17:43:46+00:00" class="entry-date">
                                                                                <i class="awesome-clock-o"></i>9 Feb, 2015
                                                                            </span><br>
                                                                            <span>by</span>
                                                                            <span class="entry-author">admin</span>
                                                                        </div>
                                                                        <div class="post-meta-right">
                                                                            <span class="entry-comment">
                                                                                <i class="awesome-comment-o"></i>
                                                                                <a href="#">1</a>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </header>
                                                            </div>
                                                        </div>
                                                    </article>
                                                    <article class="article isotope-selector entry-item k2t-blog-post k2t-blog-post-2 post-2017 post type-post status-publish format-standard has-post-thumbnail hentry category-post-grid tag-themeforest tag-wordpress">
                                                        <div class="entry-box">
                                                            <div class="entry-thumb">
                                                                <div class="mask"><a href="#" title="How to babysit the bike"></a></div>
                                                                <p>
                                                                    <img width="500" height="333" src="~/Assets/client/img/uploads/2015/03/post-13-500x333.jpg" alt="How to babysit the bike">
                                                                </p>
                                                            </div>
                                                            <div class="entry-content">
                                                                <header>
                                                                    <h5 class="entry-title">
                                                                        <a title="How to babysit the bike" href="#">How to babysit the bike</a>
                                                                    </h5>
                                                                    <div class="post-meta">
                                                                        <div class="post-meta-left">
                                                                            <span data-time="2015-02-10T17:37:24+00:00" class="entry-date">
                                                                                <i class="awesome-clock-o"></i>10 Feb, 2015
                                                                            </span><br>
                                                                            <span>by</span>
                                                                            <span class="entry-author">admin</span>
                                                                        </div>
                                                                        <div class="post-meta-right">
                                                                            <span class="entry-comment">
                                                                                <i class="awesome-comment-o"></i>
                                                                                <a href="#">1</a>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </header>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                                <div class="carousel-item">
                                                    <article class="article isotope-selector entry-item k2t-blog-post k2t-blog-post-2 post-2011 post type-post status-publish format-standard has-post-thumbnail hentry category-post-grid tag-design tag-templates tag-wordpress">
                                                        <div class="entry-box">
                                                            <div class="entry-thumb">
                                                                <div class="mask">
                                                                    <a href="#" title="No. 1 rule : safety first!"></a>
                                                                </div>
                                                                <p>
                                                                    <img width="500" height="333" src="~/Assets/client/img/uploads/2015/05/post-10-500x333.jpg" alt="No. 1 rule : safety first!">
                                                                </p>
                                                            </div>
                                                            <div class="entry-content">
                                                                <header>
                                                                    <h5 class="entry-title">
                                                                        <a title="No. 1 rule : safety first!" href="#">No. 1 rule : safety first!</a>
                                                                    </h5>
                                                                    <div class="post-meta">
                                                                        <div class="post-meta-left">
                                                                            <span data-time="2015-02-14T17:27:25+00:00" class="entry-date">
                                                                                <i class="awesome-clock-o"></i>14 Feb, 2015
                                                                            </span><br>
                                                                            <span>by</span>
                                                                            <span class="entry-author">admin</span>
                                                                        </div>
                                                                        <div class="post-meta-right">
                                                                            <span class="entry-comment">
                                                                                <i class="awesome-comment-o"></i>
                                                                                <a href="#">1</a>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </header>
                                                            </div>
                                                        </div>
                                                    </article>
                                                    <article class="article isotope-selector entry-item k2t-blog-post k2t-blog-post-2 post-2009 post type-post status-publish format-standard has-post-thumbnail hentry category-post-grid tag-creative tag-jquery tag-templates">
                                                        <div class="entry-box">
                                                            <div class="entry-thumb">
                                                                <div class="mask"><a href="#" title="Choosing your equipments"></a></div>
                                                                <p>
                                                                    <img width="500" height="333" src="~/Assets/client/img/uploads/2015/05/post-18-500x333.jpg" alt="Choosing your equipments">
                                                                </p>
                                                            </div>
                                                            <div class="entry-content">
                                                                <header>
                                                                    <h5 class="entry-title">
                                                                        <a title="Choosing your equipments" href="#">Choosing your equipments</a>
                                                                    </h5>
                                                                    <div class="post-meta">
                                                                        <div class="post-meta-left">
                                                                            <span data-time="2015-02-15T17:23:51+00:00" class="entry-date">
                                                                                <i class="awesome-clock-o"></i>15 Feb, 2015
                                                                            </span><br>
                                                                            <span>by</span>
                                                                            <span class="entry-author">admin</span>
                                                                        </div>
                                                                        <div class="post-meta-right">
                                                                            <span class="entry-comment">
                                                                                <i class="awesome-comment-o"></i>
                                                                                <a href="#">1</a>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </header>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                                <div class="carousel-item">
                                                    <article class="article isotope-selector entry-item k2t-blog-post k2t-blog-post-2 post-2105 post type-post status-publish format-video has-post-thumbnail hentry category-blogger category-post-medium tag-templates tag-themeforest post_format-post-format-video">
                                                        <div class="entry-box">
                                                            <div class="entry-thumb">
                                                                <div class="mask">
                                                                    <a href="#" title="Some cities are not for bikes"></a>
                                                                </div>
                                                                <p>
                                                                    <img width="500" height="333" src="~/Assets/client/img/uploads/2015/06/post-2-500x333.jpg" alt="Some cities are not for bikes">
                                                                </p>
                                                            </div>
                                                            <div class="entry-content">
                                                                <header>
                                                                    <h5 class="entry-title">
                                                                        <a title="Some cities are not for bikes" href="#">Some cities are not for bikes</a>
                                                                    </h5>
                                                                    <div class="post-meta">
                                                                        <div class="post-meta-left">
                                                                            <span data-time="2014-03-17T16:14:03+00:00" class="entry-date">
                                                                                <i class="awesome-clock-o"></i>17 Mar, 2014
                                                                            </span><br>
                                                                            <span>by</span>
                                                                            <span class="entry-author">admin</span>
                                                                        </div>
                                                                        <div class="post-meta-right">
                                                                            <span class="entry-comment">
                                                                                <i class="awesome-comment-o"></i>
                                                                                <a href="#">2</a>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </header>
                                                            </div>
                                                        </div>
                                                    </article>
                                                    <article class="article isotope-selector entry-item k2t-blog-post k2t-blog-post-2 post-2108 post type-post status-publish format-video has-post-thumbnail hentry category-blogger category-post-medium tag-effects tag-jquery tag-post post_format-post-format-video">
                                                        <div class="entry-box">
                                                            <div class="entry-thumb">
                                                                <div class="mask"><a href="#" title="Bicycle mudguards"></a></div>
                                                                <p>
                                                                    <img width="500" height="333" src="~/Assets/client/img/uploads/2015/07/post-6-1024x684-500x333.jpg" alt="Bicycle mudguards">
                                                                </p>
                                                            </div>
                                                            <div class="entry-content">
                                                                <header>
                                                                    <h5 class="entry-title">
                                                                        <a title="Bicycle mudguards" href="#">Bicycle mudguards</a>
                                                                    </h5>
                                                                    <div class="post-meta">
                                                                        <div class="post-meta-left">
                                                                            <span data-time="2015-01-16T16:37:24+00:00" class="entry-date">
                                                                                <i class="awesome-clock-o"></i>16 Jan, 2015
                                                                            </span><br>
                                                                            <span>by</span>
                                                                            <span class="entry-author">admin</span>
                                                                        </div>
                                                                        <div class="post-meta-right">
                                                                            <span class="entry-comment">
                                                                                <i class="awesome-comment-o"></i>
                                                                                <a href="#">2</a>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </header>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                                <div class="carousel-item">
                                                    <article class="article isotope-selector entry-item k2t-blog-post k2t-blog-post-2 post-300 post type-post status-publish format-standard has-post-thumbnail hentry category-blogger category-post-medium tag-creative tag-jquery tag-templates">
                                                        <div class="entry-box">
                                                            <div class="entry-thumb">
                                                                <div class="mask">
                                                                    <a href="#" title="Survive long bike road trips"></a>
                                                                </div>
                                                                <p>
                                                                    <img width="500" height="333" src="~/Assets/client/img/uploads/2015/05/post-11-500x333.jpg" alt="Survive long bike road trips">
                                                                </p>
                                                            </div>
                                                            <div class="entry-content">
                                                                <header>
                                                                    <h5 class="entry-title">
                                                                        <a title="Survive long bike road trips" href="#">Survive long bike road trips</a>
                                                                    </h5>
                                                                    <div class="post-meta">
                                                                        <div class="post-meta-left">
                                                                            <span data-time="2015-01-17T06:31:01+00:00" class="entry-date">
                                                                                <i class="awesome-clock-o"></i>17 Jan, 2015
                                                                            </span><br>
                                                                            <span>by</span>
                                                                            <span class="entry-author">admin</span>
                                                                        </div>
                                                                        <div class="post-meta-right">
                                                                            <span class="entry-comment">
                                                                                <i class="awesome-comment-o"></i>
                                                                                <a href="#">2</a>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </header>
                                                            </div>
                                                        </div>
                                                    </article>
                                                    <article class="article isotope-selector entry-item k2t-blog-post k2t-blog-post-2 post-298 post type-post status-publish format-standard has-post-thumbnail hentry category-design-fr category-blogger category-post-grid category-post-medium tag-design tag-templates tag-wordpress">
                                                        <div class="entry-box">
                                                            <div class="entry-thumb">
                                                                <div class="mask"><a href="#" title="No. 1 rule : safety first!"></a></div>
                                                                <p>
                                                                    <img width="500" height="333" src="~/Assets/client/img/uploads/2015/05/post-10-500x333.jpg" alt="No. 1 rule : safety first!">
                                                                </p>
                                                            </div>
                                                            <div class="entry-content">
                                                                <header>
                                                                    <h5 class="entry-title">
                                                                        <a title="No. 1 rule : safety first!" href="#">No. 1 rule : safety first!</a>
                                                                    </h5>
                                                                    <div class="post-meta">
                                                                        <div class="post-meta-left">
                                                                            <span data-time="2015-01-18T06:31:01+00:00" class="entry-date">
                                                                                <i class="awesome-clock-o"></i>18 Jan, 2015
                                                                            </span><br>
                                                                            <span>by</span>
                                                                            <span class="entry-author">admin</span>
                                                                        </div>
                                                                        <div class="post-meta-right">
                                                                            <span class="entry-comment">
                                                                                <i class="awesome-comment-o"></i>
                                                                                <a href="#">2</a>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </header>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                                <div class='carousel-item'>
                                                    <article class="article isotope-selector entry-item k2t-blog-post k2t-blog-post-2 post-2081 post type-post status-publish format-standard has-post-thumbnail hentry category-design category-post-medium tag-color tag-creative tag-design">
                                                        <div class="entry-box">
                                                            <div class="entry-thumb">
                                                                <div class="mask">
                                                                    <a href="#" title="An overview on bicycles"></a>
                                                                </div>
                                                                <p>
                                                                    <img width="500" height="333" src="~/Assets/client/img/uploads/2015/07/16913287950_263d5d1b1d_b-500x333.jpg" alt="An overview on bicycles" />
                                                            </div>
                                                            <div class="entry-content">
                                                                <header>
                                                                    <h5 class="entry-title">
                                                                        <a title="An overview on bicycles" href="#">An overview on bicycles</a>
                                                                    </h5>
                                                                    <div class="post-meta">
                                                                        <div class="post-meta-left">
                                                                            <span data-time="2015-01-19T10:16:47+00:00" class="entry-date">
                                                                                <i class="awesome-clock-o"></i>19 Jan, 2015
                                                                            </span><br />
                                                                            <span>by</span> <span class="entry-author">admin</span>
                                                                        </div>
                                                                        <div class="post-meta-right">
                                                                            <span class="entry-comment"><i class="awesome-comment-o"></i><a href="#">2</a></span>
                                                                        </div>
                                                                    </div>
                                                                </header>
                                                            </div>
                                                        </div>
                                                    </article>
                                                    <article class="article isotope-selector entry-item k2t-blog-post k2t-blog-post-2 post-2091 post type-post status-publish format-standard has-post-thumbnail hentry category-blogger category-post-medium tag-blogger tag-creative tag-design">
                                                        <div class="entry-box">
                                                            <div class="entry-thumb">
                                                                <div class="mask">
                                                                    <a href="#" title="A brief history of bicycling"></a>
                                                                </div>
                                                                <p><img width="500" height="333" src="~/Assets/client/img/uploads/2015/03/IMG_3984-500x333.jpeg" alt="A brief history of bicycling" />
                                                            </div>
                                                            <div class="entry-content">
                                                                <header>
                                                                    <h5 class="entry-title">
                                                                        <a title="A brief history of bicycling" href="#">A brief history of bicycling</a>
                                                                    </h5>
                                                                    <div class="post-meta">
                                                                        <div class="post-meta-left">
                                                                            <span data-time="2015-01-24T14:44:04+00:00" class="entry-date"><i class="awesome-clock-o"></i>24 Jan, 2015</span><br />
                                                                            <span>by</span> <span class="entry-author">admin</span>
                                                                        </div>
                                                                        <div class="post-meta-right">
                                                                            <span class="entry-comment">
                                                                                <i class="awesome-comment-o"></i>
                                                                                <a href="#">2</a>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </header>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="RXWUwLMPlv" class="vc_row wpb_row vc_row-fluid banner-bottom  vc_custom_1436403796574" style="position: relative; background-size: cover; background-repeat: no-repeat; margin-top: 100px; margin-bottom: 100px;">
                                <div class="container">
                                    <div style="z-index: 10; position: relative;">
                                        <div class="vc_col-sm-12 wpb_column vc_column_container" style="position: relative;">
                                            <div class="wpb_wrapper">
                                                <div class="vc_row wpb_row vc_inner vc_row-fluid bottom-banner-inner" style="padding-top: 75px; padding-right: 50px; padding-bottom: 70px; padding-left: 50px;">
                                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_text_column wpb_content_element  test-drive">
                                                                <div class="wpb_wrapper">
                                                                    <p>Free test ride</p>
                                                                </div>
                                                            </div>
                                                            <div class="vc_icon_element vc_icon_element-outer bicycle wpb_animate_when_almost_visible wpb_left-to-right vc_icon_element-align-left wpb_start_animation">
                                                                <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-md vc_icon_element-style- vc_icon_element-background-color-grey">
                                                                    <span class="vc_icon_element-icon fa fa-bicycle" style="color:#ffffff !important"></span>
                                                                </div>
                                                            </div>
                                                            <div class="k2t-button align-right">
                                                                <a id="BWdikoQIzr" style="" class="k2t-btn btn-no-content btn-medium button-icon-right" href="#" target="_blank">
                                                                    <span class="button-text" style=""><span class="text">Book Now</span></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div><!-- .page-entry -->
                    </article><!-- #post-## -->
                </div><!-- #main -->
            </div><!-- .k2t-content -->
        </div>



