@model TeduShop.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
<!-- Custom CSS -->


<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />

<div class="woocommerce-account woocommerce-page offcanvas-type-default  offcanvas-left">
<div class="k2t-body">
    <div class="k2t-title-bar underline center  shadow" style="padding-top:100px;padding-bottom:100px;background-image: url(../Assets/client/img/titlebar-blog.jpg);background-position: left top;background-repeat: repeat;background-size: cover">
        <div class="container k2t-wrap" style="">
            <h1 class="main-title" style="font-size:30px;line-height:30px;">My Account</h1>
            <div class="main-excerpt"></div><!-- .main-excerpt -->
        </div><!-- k2t-wrap -->
    </div><!-- .k2t-title-bar -->

    <div class="k2t-content">
        <div class="container k2t-wrap">
            <div class="k2t-main page" role="main">
                <article id="post-1090" class="post-1090 page type-page status-publish hentry">
                    <div class="page-entry">
                       
                        <div class="woocommerce">
                            <h2 style="font-size:20px;">Login</h2>
                            @*<form action="#" method="post" class="wpcf7-form" novalidate="">*@

                            @using (Html.BeginForm("Login", "Account", new { returnUrl = @ViewBag.ReturnUrl }, FormMethod.Post))  // trong phần startup.auth.cs
                            {
                                @Html.ValidationSummary(false, "", new { @class = "error" })
                            <p class="form-row form-row-wide">
                                @*<label for="username">Username or email address <span class="required">*</span></label>*@
                                @Html.TextBoxFor(model => model.UserName, new { @style ="width : 65%" , placeholder = "Username..." })

                                <i class="icon-star"></i>
                            </p>

                                <p class="form-row form-row-wide">

                                    @Html.PasswordFor(model => model.Password, new { @style = "width : 65%", placeholder = "Password..." })

                                    <i class="icon-lock-open"></i>
                                </p>
                                <p class="form-row">
                                    @*<input type="hidden" id="_wpnonce" name="_wpnonce" value="c425dc597f">
                                    <input type="hidden" name="_wp_http_referer" value="">*@
                                    <input type="submit" class="button" name="login" value="Login">
                                    <label for="rememberme" class="inline">
                                        <input name="rememberme" type="checkbox" id="rememberme" value="forever"> Remember me
                                    </label>
                                </p>




                                @*<span class="meta" style="font-size: 13px;">Keep me logged in  </span>*@
                                @*<p style="text-align:center; margin-top: 30px">
                                    <input type="submit" value="Login" class="wpcf7-form-control wpcf7-submit">
                                </p>*@


                            }
                         
                            @*</form>*@

                            @Html.Partial("_ExternalLoginsListPartial", new TeduShop.Web.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })


                        </div>
                        </div>
    
                        <div class="clear"></div>
                    </div><!-- .page-entry -->
                </article><!-- #post-## -->
                <div class="clear"></div>
            </div>
            </div><!-- #main -->
        </div><!-- .k2t-content -->
</div>

